### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
player_count = len (purchase_data["SN"].value_counts())

In [5]:
total_players=pd.DataFrame({"Total Players":[player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Basic calculations: unique items, average price,..

#Unique Items

unique_item = len(purchase_data["Item ID"].value_counts())

#average price

average_price=(purchase_data["Price"].mean())

# number of purchases
num_purchase=len(purchase_data["Purchase ID"].value_counts())

#Revenue

tot_reveneu=(purchase_data["Price"].sum())

#Summary DataFrame

summary_data={"Unique Items":[unique_item], "Average Price":[average_price], "Number of Purchases":[num_purchase],"Revenue": [tot_reveneu]}
summary_df =pd.DataFrame(summary_data, columns=["Unique Items", "Average Price","Number of Purchases","Revenue"])
summary_df.head()

   Unique Items  Average Price  Number of Purchases  Revenue
0           183       3.050987                  780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Total count of gender
gender_=purchase_data.groupby("Gender")

gender_

In [8]:
#counting each gender uniquely female or male

total_count_gender= gender_.nunique()["SN"]
total_count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [9]:
#percentages


percent = (total_count_gender/ 576)*100
percent

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [51]:
# creating dataframe with gender information

gender_summary = {"Total Genders":[gender_],"Count of Unique Gender":[total_count_gender],"Percentages":[percent]}
gender_summary_df= pd.DataFrame(gender_summary,columns=["Total Genders","Count of Unique Gender","Percentages"])
gender_summary_df.index.name= None 
gender_dict=gender_summary_df.sort_values(["Total Genders"], ascending=False).style.format({"Percentages of Players":"{:,.2f}"})

gender_dict


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [184]:
#Basic Calculations

#Purchase Analysys Gender

purchase_count=gender_["Purchase ID"].count()

purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [185]:
# average purchase price total by gender
avg_pur_price = gender_["Price"].mean()
avg_pur_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [186]:
#average purchase price total by gender
avg_pur_total=gender_["Price"].sum()
avg_pur_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [187]:
#average purchase total by gender divided by purchase count of unique shoppers

avg_purchase_per_person= avg_pur_total/total_count_gender
avg_purchase_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [188]:
#create dataframe with information above

purchase_analysis=pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":avg_pur_price,"Average Purchase Value":avg_pur_total,"Average Purchase Total Per Gender":avg_purchase_per_person}
                            )
purchase_analysis.index.name="Gender"

purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}", "Average Purchase Value":"${:,.2f}","Average Purchase Total Per Gender":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
# Age Demographics

# age bins
#* when doing binning how do you know what numbers to set your bins

age_bins= [0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,99999]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Group"]=pd.cut(purchase_data["Age"],age_bins,labels=group_names)

# create a new dataframe with the added "Age Group" and group to it 
age_grouped=purchase_data.groupby("Age Group")
total_count_age=age_grouped["SN"].nunique()
percentage_by_age=(total_count_age/player_count)*100
age_demographics=pd.DataFrame({"Percent of Players":percentage_by_age,"Total Count":total_count_age})
age_demographics.index.name=None 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
#Purchasing Analysis(Age)
#Binning the purchase data by age was done in perevious step
#purchase count 
purchase_count_age=age_grouped["Purchase ID"].count()
#average purchase price
avg_purchase_priced_age=age_grouped["Price"].mean()
#total purchase value by age
tot_purchase_age=age_grouped["Price"].sum()
#average purchase per person in the age group
avg_purchase_per_person_age=tot_purchase_age/total_count_age
#age demographics summary
age_demo=pd.DataFrame({"Purchase Count":purchase_count_age, "Average Purchase Price":avg_purchase_priced_age,"Total Purchase by Age":tot_purchase_age,"Average Purchase per Person":avg_purchase_per_person_age})
age_demo.index.name=None
age_demo.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase by Age":"${:,.2f}","Average Purchase per Person":"${:,.2f}" )

SyntaxError: invalid syntax (<ipython-input-44-bd707a14aa22>, line 14)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
#Group purchase data by screen name
spender_=purchase_data.groupby("SN")
#count the total purchases by name
spender_count=spender_["Purchase ID"].count()
#average
avg_pur_spender=spender_["Price"].mean()
#Purchase total by spender
spender_pur_total=spender_["Price"].sum()
#create dataframe
spender_df=pd.DataFrame({"Purchase Count":spender_count, "Average Purchase Price":avg_pur_spender,"Total Purchase":spender_pur_total})
#edit format
format_spenders=spender_df.sort_values(["Total Purchase"],ascending=False).head()
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [68]:
# Dataframe with information
items=purchase_data[["Item ID","Item Name","Price"]]
#grouping by item ID and Item Name
items_group=items.groupby(["Item ID","Item Name"])
#count of the amount of times an item has been purchased
items_purchase=items_group["Price"].count()
#purchase value per item
purchase_value=items_group["Price"].sum()
#Individual Item price
item_price=purchase_value/items_purchase
#dataframe
most_popular_items = pd.DataFrame({"Purchase Count": items_purchase, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
#formatting
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [69]:
# sorting in descending order
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

In [70]:
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})